@font-face {
  font-family: "PT Sans_Bold";
  src: url("/fonts/PTSans-Bold.ttf");
}

@font-face {
  font-family: "PT Sans_Regular";
  src: url("/fonts/PTSans-Regular.ttf");
}

header .header_top .cart_sign li .myButton, #banner .bnnr_content .bnnr_text .bnnr_btn {
  background-color: #fff;
  border-radius: 28px;
  border: 1px solid #555;
  display: inline-block;
  cursor: pointer;
  color: #333;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  padding: 6px 24px;
}

header .header_top .cart_sign li .myButton:active, #banner .bnnr_content .bnnr_text .bnnr_btn:active {
  position: relative;
  top: 1px;
}

.prev-arrow,
.next-arrow {
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 15px;
  line-height: 37px;
  color: #fff;
  position: absolute;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  text-align: center;
  cursor: pointer;
}

.prev-arrow {
  z-index: 1;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.next-arrow {
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Slick Dots */
.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 5px;
}

.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  outline: none;
}

.slick-dots .slick-active button {
  background: #c2bcbc;
}

.dropdown-toggle {
  color: white;
}

.dropdown-toggle::after {
  display: inline-block;
  width: .3em;
  height: .3em;
  margin: -.3em 0 0 .4em;
  vertical-align: middle;
  content: "";
  border: .3em solid;
  border-width: 0 .15em .15em 0;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

@media (min-width: 1200px) {
  .container_lg {
    max-width: 1400px !important;
  }
}

@media (max-width: 767px) {
  .header_btm {
    display: none;
  }
  .b-icon {
    display: none;
  }
  .navbar-nav.cart_sign {
    display: none;
  }
  .navbar-nav {
    text-align: center;
  }
  #banner {
    padding: 60px 0px !important;
  }
  .phn-1 {
    display: none !important;
  }
  .phn-2 {
    display: block !important;
    margin-left: auto;
    height: 400px;
  }
  .slick-dots {
    bottom: -60px;
  }
  #banner .bnnr_content .bnnr_text h2 {
    font-size: 34px !important;
  }
  #banner .bnnr_content .bnnr_text p {
    font-size: 12px !important;
    padding-right: 10px !important;
  }
  #banner .bnnr_content .bnnr_text .bnnr_btn {
    padding: 6px 36px !important;
  }
  #banner .bnnr_content .bnnr_text {
    margin-top: 140px !important;
  }
  #short .container .dv-1::before {
    display: none;
  }
  #short .container .dv-2::after {
    display: none;
  }
  .Matching, #short .container .shiping {
    margin: 0px 100px;
  }
  .key {
    margin-right: 5px !important;
  }
  #short .container .g-2 {
    margin: 0px 8px !important;
  }
  #short .container .g-2 span.price {
    margin-right: 5px;
  }
  .custom-control-label {
    font-size: 11px;
  }
  .shiping {
    margin-top: 0 !important;
  }
  .left_side_bar {
    margin-bottom: 30px;
  }
  .left_side_bar .sidebar-item {
    position: relative !important;
  }
  .product_gallery .card {
    margin: 20px auto;
  }
  #pagination .container .center .next-arrow::after {
    content: '';
    display: none;
  }
  #pagination .container .center .prev-arrow::after {
    display: none;
  }
  #pagination .container .center .prev-arrow {
    left: 0px !important;
    color: #000;
  }
  #pagination .container .center .next-arrow {
    right: 0px !important;
    color: #000;
  }
}

@media (min-width: 768px) {
  .phn-2 {
    display: none !important;
  }
}

/* Basic Css */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
  outline: 0;
}

body {
  font-family: 'PT Sans_Regular';
  background-color: #e4e5e7;
  text-transform: capitalize;
}

/* ?? part start */
header {
  background: #ffffff;
}

header .header_top {
  padding: 0px;
  border-bottom: 2px solid #555;
}

header .header_top .b-icon {
  padding: 35px 30px;
  position: relative;
  border-right: 2px solid #555;
}

header .header_top .navbar-nav .nav-item {
  margin: 0px 12px;
}

header .header_top .navbar-nav .nav-item .nav-link {
  color: #333;
  font-size: 14px;
  font-family: 'PT Sans_Bold';
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .header_top .navbar-nav .nav-item .nav-link:hover {
  text-decoration: underline;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .header_top .cart_sign li span {
  padding: 10px 15px;
  border-radius: 50%;
  background-color: #e3e8f0;
  font-size: 14px;
}

header .header_btm {
  padding: 8px 10px;
}

header .header_btm .header_links ul {
  margin-left: 0;
}

header .header_btm .header_links ul li {
  margin: 0px 20px;
}

header .header_btm .header_links ul li a {
  font-size: 11pxi;
  color: #555;
}

header .header_btm .header_links ul li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #6b6969;
          text-decoration-color: #6b6969;
}

header .header_btm .header_links ul li a .search {
  background: transparent;
  border: none;
  padding: 6px 2px;
  outline: none !important;
}

header .header_btm .header_links ul li a .search::-webkit-input-placeholder {
  padding: 0px 5px;
}

header .header_btm .header_links ul li a .search:-ms-input-placeholder {
  padding: 0px 5px;
}

header .header_btm .header_links ul li a .search::-ms-input-placeholder {
  padding: 0px 5px;
}

header .header_btm .header_links ul li a .search::placeholder {
  padding: 0px 5px;
}

header .header_btm .header_links .support {
  margin-right: -140px;
}

/* ?? part end */
/* Banner  part start */
#banner {
  background: #1c1e23;
  position: relative;
  padding: 0;
}

#banner .bnnr_content {
  color: #fff;
}

#banner .bnnr_content .bnnr_text {
  margin-top: 200px;
}

#banner .bnnr_content .bnnr_text h2 {
  font-size: 42px;
}

#banner .bnnr_content .bnnr_text p {
  font-size: 16px;
  text-align: justify;
  padding-right: 35px;
}

#banner .bnnr_content .bnnr_text .bnnr_btn {
  background-color: #2754eb;
  color: white;
  border: none;
  padding: 12px 55px;
}

/* Banner  part end */
/* short part start */
#short {
  margin: 30px 0px;
}

#short .container {
  background-color: #fff;
  border-radius: 5px;
  padding: 12px 18px;
  position: relative;
}

#short .container .dv-1::before {
  content: '';
  position: absolute;
  top: 0px;
  height: 100%;
  width: 2px;
  right: 0px;
  background-color: #5555;
}

#short .container .dv-2::after {
  content: '';
  position: absolute;
  top: 0px;
  height: 100%;
  width: 2px;
  left: 0px;
  background-color: #5555;
}

#short .container .g-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#short .container .g-1 .key {
  font-size: 14px;
  color: #555555;
}

#short .container .g-1 .tab {
  border-radius: 25px;
  border: 2px solid #bfc5d4;
  padding: 6px 8px;
  outline: none;
  background-color: #f0f2f7;
}

#short .container .g-1 .tab::-webkit-input-placeholder {
  width: 100%;
}

#short .container .g-1 .tab:-ms-input-placeholder {
  width: 100%;
}

#short .container .g-1 .tab::-ms-input-placeholder {
  width: 100%;
}

#short .container .g-1 .tab::placeholder {
  width: 100%;
}

#short .container .g-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 26px;
}

#short .container .g-2 span.price {
  font-size: 14px;
  margin-right: 16px;
}

#short .container .g-2 span .p-range {
  border-radius: 18px;
  border: 2px solid #bfc5d4;
  padding: 8px 16px;
  width: 60px;
  height: 28px;
  outline: none;
  background-color: #f0f2f7;
}

#short .container .g-3 {
  margin-top: 12px;
}

#short .container .g-3 .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #ddd;
  background-color: #00e2aa;
}

#short .container .g-3 .custom-checkbox .custom-control-label::before {
  border-radius: 50%;
}

#short .container .Matching, #short .container .shiping,
#short .container .shiping {
  margin-top: 12px;
}

#short .container .Matching, #short .container .shiping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#short .container .Matching .btn-group .btn, #short .container .shiping .btn-group .btn {
  color: #1c1e23;
  padding: 0;
  margin-left: 120px;
}

#short .container .Matching .btn-group .dropdown-menu button, #short .container .shiping .btn-group .dropdown-menu button {
  border-bottom: 1px solid;
}

#short .container .Matching .btn-group .dropdown-menu button:last-child, #short .container .shiping .btn-group .dropdown-menu button:last-child {
  border-bottom: none;
}

/* short part end */
/* LeftSide Bar part start */
.left_side_bar {
  padding: 0 !important;
  /* Fixed sidenav, full height */
  /* Style the sidenav links and the dropdown button */
  /* On mouse-over */
  /* Main content */
  /* Add an active class to the active dropdown button */
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  /* Optional: Style the caret down icon */
}

.left_side_bar .sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left_side_bar .sidebar-item .make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 173px;
}

.left_side_bar .sidenav {
  z-index: 1;
  background-color: #fff;
  overflow-x: hidden;
  margin-left: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.left_side_bar .sidenav a, .left_side_bar .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #1c1e23;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid #ddd;
}

.left_side_bar .sidenav a:hover, .left_side_bar .dropdown-btn:hover {
  background: #f0f2f7;
}

.left_side_bar .main {
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.left_side_bar .active {
  background-color: #fff;
  color: #1c1e23;
}

.left_side_bar .dropdown-container {
  display: none;
}

.left_side_bar .dropdown-container a {
  text-transform: uppercase;
}

.left_side_bar .fa-caret-down {
  float: right;
  padding-right: 8px;
}

.left_side_bar .available {
  background: #fff;
  padding: 10px 0px;
  border-radius: 5px;
}

.left_side_bar .available h3 {
  font-size: 16px;
  padding: 12px 16px;
  border-bottom: 1px solid #5555;
}

.left_side_bar .available .a-t {
  border-bottom: 1px solid #5555;
  padding: 8px 16px;
}

.left_side_bar .available .a-c {
  padding: 12px 16px;
}

.left_side_bar .available .a-c h4 {
  font-size: 16px;
}

.left_side_bar .available .a-c a {
  color: #2754eb;
  text-transform: underline;
  cursor: pointer;
}

.left_side_bar .available .a-b {
  border-top: 1px solid #5555;
  padding: 12px 16px;
}

.left_side_bar .condition {
  background: #fff;
  padding: 10px 0px;
  border-radius: 5px;
}

.left_side_bar .condition .c-title {
  padding: 12px 16px;
}

.left_side_bar .condition .c-title h4 {
  font-size: 16px;
}

.left_side_bar .condition .rows {
  padding: 12px 12px;
  border-top: 1px solid #5555;
}

.left_side_bar .delivery {
  background: #fff;
  border-radius: 5px;
  padding: 16px 0px;
}

.left_side_bar .delivery h3 {
  font-size: 16px;
  border-bottom: 1px solid #5555;
  padding: 6px 8px;
}

.left_side_bar .delivery .optn {
  padding: 0px 16px;
}

.left_side_bar .delivery .optn li {
  padding: 0px 15px;
}

.left_side_bar .delivery .optn li:first-child {
  border-right: 2px solid;
  margin-left: 50px;
}

/* LeftSide Bar part end */
/* product_gallery part start */
.product_gallery .card .p_name {
  font-size: 18px;
  font-weight: bold;
}

.product_gallery .card .clr {
  font-size: 16px;
}

.product_gallery .card .price {
  font-weight: bold;
}

.product_gallery .card .card-body .btn-group button {
  padding: 8px 30px;
  background-color: transparent;
  outline: none;
  border: 1px solid #5555;
}

.product_gallery .card .card-body .btn-group button:nth-child(1) {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.product_gallery .card .card-body .btn-group button:nth-child(2) {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* product_gallery part end */
/* pagination part start */
#pagination {
  margin: 30px 0px;
}

#pagination .container {
  background-color: #fff;
  border-radius: 5px;
}

#pagination .container .center {
  padding: 25px 0px;
  font-size: 26px;
  line-height: 26px;
}

#pagination .container .center .prev-arrow,
#pagination .container .center .next-arrow {
  font-size: 20px;
  line-height: 37px;
  color: #555555;
  position: absolute;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  text-align: center;
  cursor: pointer;
  border: none !important;
}

#pagination .container .center .prev-arrow {
  z-index: 1;
  top: 50%;
  left: -250px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#pagination .container .center .prev-arrow::after {
  content: '';
  position: absolute;
  top: -17px;
  height: 74px;
  width: 2px;
  left: 150px;
  background-color: #5555;
}

#pagination .container .center .next-arrow {
  top: 50%;
  right: -250px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#pagination .container .center .next-arrow::after {
  content: '';
  position: absolute;
  top: -17px;
  height: 74px;
  width: 2px;
  left: -150px;
  background-color: #5555;
}

#pagination .container .center li .slick-slide {
  margin: auto;
  width: 0;
}

#pagination .container .center li.slick-active {
  width: 34px !important;
  height: 34px !important;
  border-radius: 50%;
  text-align: center;
}

#pagination .container .center li.slick-active.slick-center {
  background-color: #e4d2d2;
  -webkit-box-shadow: -2px 34px 7px -8px rgba(0, 0, 0, 0.32);
          box-shadow: -2px 34px 7px -8px rgba(0, 0, 0, 0.32);
}

#pagination .container .center li a {
  color: #1c1e23;
  font-size: 20px;
}

/* pagination part end */
/* best seller part start */
#best_seller {
  margin: 35px 0px;
}

#best_seller .container {
  background-color: #fff;
  padding: 0px;
  border-radius: 5px;
}

#best_seller .container h3.text-center {
  font-size: 14px;
  line-height: auto;
  font-weight: bold;
  padding: 16px 0px;
  text-transform: uppercase;
  letter-spacing: 3.1px;
  border-bottom: 2px solid #fcfcfd;
}

#best_seller .container .best_selleing_product {
  border-right: 3px solid #fcfcfd;
}

#best_seller .container .best_selleing_product .p-details h3 {
  font-size: 16px;
  line-height: auto;
  color: #343e5c;
  text-transform: capitalize;
}

#best_seller .container .best_selleing_product .p-details h4 {
  font-size: 11px;
  line-height: auto;
  color: #555555;
  text-transform: uppercase;
}

#best_seller .container .best_selleing_product .p-details .price li {
  margin-right: 12px;
  font-weight: bold;
  font-size: 14px;
}

#best_seller .container .best_selleing_product:last-child {
  border-right: none;
}

/* best seller part end */
/* Testimonial part start */
#Testimonial {
  background-color: #fff;
  padding: 60px 0px;
}

#Testimonial .s-content {
  margin-bottom: 30px;
}

#Testimonial .s-content .heading {
  font-size: 32px;
  font-weight: bold;
}

#Testimonial .s-content .sub-title {
  font-size: 16px;
}

#Testimonial .client-list {
  padding: 30px 0px;
}

#Testimonial .client-list .client .client-info h5 {
  font-size: 14px;
  font-weight: bold;
}

#Testimonial .client-list .client .client-info h6 {
  font-size: 14px;
}

#Testimonial .client-list .client .client-txt {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

/* Testimonial part end */
/* footer part start */
#footer_main {
  background-color: #222328;
  padding: 60px 0px;
}

#footer_main .footer-top {
  padding: 30px 0px;
  border-bottom: 2px solid #3f4147;
}

#footer_main .footer-top .footer-link li, #footer_main .footer-top .social-icon li {
  margin: 0 10px;
}

#footer_main .footer-top .footer-link li a, #footer_main .footer-top .social-icon li a {
  color: #fff;
  font-size: 14px;
  font-family: 'PT Sans_Bold';
  text-transform: uppercase;
}

#footer_main .footer-top .footer-link li a:hover, #footer_main .footer-top .social-icon li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #6b6969;
          text-decoration-color: #6b6969;
}

#footer_main .footer-btm {
  padding: 30px 0px;
}

#footer_main .footer-btm p {
  color: #ddd;
}

#footer_main .footer-btm .policy li {
  margin: 0 20px;
}

#footer_main .footer-btm .policy li a {
  color: #ddd;
}

#footer_main .footer-btm .policy li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #6b6969;
          text-decoration-color: #6b6969;
}

/* footer part end */
