%btn {
  background-color:#fff;
  border-radius:28px;
  border:1px solid #555;
  display:inline-block;
  cursor:pointer;
  color:#333;
  font-family:Arial;
  font-size:14px;
  text-decoration:none;
  padding: 6px 24px;

  &:active {
    position:relative;
    top:1px;
  }
}


.prev-arrow,
.next-arrow {
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 15px;
  line-height: 37px;
  color: #fff;
  position: absolute;
  transition: all 0.4s linear;
  text-align: center;
  cursor: pointer;
}

.prev-arrow {
  z-index: 1;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}
.next-arrow {
  top: 50%;
  right: 3%;
  transform: translateY(-50%)
}

/* Slick Dots */

.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 5px;
}

.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  outline: none;
}

.slick-dots .slick-active button {
  background: #c2bcbc;
}
.dropdown-toggle {
  color: white;
}

.dropdown-toggle::after {
  display: inline-block;
  width: .3em;
  height: .3em;
  margin: -.3em 0 0 .4em;
  vertical-align: middle;
  content: "";
  border: .3em solid;
  border-width: 0 .15em .15em 0;
  transform: rotateZ(45deg)
}
